# /etc/crontab: system-wide crontab
# Unlike any other crontab you don't have to run the `crontab'
# command to install the new version when you edit this file
# and files in /etc/cron.d. These files also have username fields,
# that none of the other crontabs do.

SHELL=/bin/sh
PATH=/usr/local/sbin:/usr/local/bin:/sbin:/bin:/usr/sbin:/usr/bin

# m h dom mon dow user  command
17 *    * * *   root    cd / && run-parts --report /etc/cron.hourly
25 6    * * *   root    test -x /usr/sbin/anacron || ( cd / && run-parts --report /etc/cron.daily )
47 6    * * 7   root    test -x /usr/sbin/anacron || ( cd / && run-parts --report /etc/cron.weekly )
52 6    1 * *   root    test -x /usr/sbin/anacron || ( cd / && run-parts --report /etc/cron.monthly )
#

# roguevalleyvr daily backup
2  1     * * *   root   /bin/tar -zcf /root/site_backups/rougevalleyvr-$(/bin/date +\%Y-\%m-\%d).tar.gz /home/roguevalleyvr/*
15 1     * * *   root   mysqldump --add-drop-table --databases roguevalleyvr > /home/roguevalleyvr/backups/db/$(/bin/date +\%Y-\%m-\%d).sql.bak
#0  1     * * *   root
50 23    1 * *   root   /usr/local/bin/tarsnap -c -f "$(/bin/date +\%Y-\%m-\%d)-hostedsites" /root/site_backups
